@import './vars.scss';
@import './modal.scss';
@import './general.scss';

body {
  margin: 0;
  font-family: 'Work Sans', sans-serif;
}

.heading {
  &__box {
    background: $general-color;
    height: 100px;
  }
}

p,
h1,
h2,
h3,
h4,
a {
  margin: 0;
}

button {
  padding: 0;
}

label>input {
  @include onMobileorTablet {
    border: 1px solid $general-color;
  }
}