$general-color: #2cf4a8;
$box-bckg: rgba(149, 245, 173, 0.3);
$table-border: #e1e7e4;
$name-color: #fee024;
$white-color: #fff;
$table-bkcg: rgba(214, 218, 215, 0.4);
$remove-btn-bckg: rgba(247, 53, 62, 0.4);
$remover-border: #f7040f;